  <div class="row">
      <app-header></app-header>
  </div>
  <div class="row">
        <div class="col-md-7">
            <app-canvas #appCanvas></app-canvas>
        </div>
        <div class="col-md-5" >
            <div class="row">
            <app-dice (msgEvent)="appCanvas.Moveto($event)"></app-dice>
            </div>
            <div class="row">
            <app-question></app-question>
            </div>
        </div> 
  </div>
  <div class="row">
      <app-footer></app-footer>
  </div>
  